button.masArtistas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 91%;
    margin-bottom: 10px;
}

h3.momento {
    margin-bottom: 0;
}

.flex{
    display: flex;
    flex-direction: column;

}
.card-container{
   
}
.flex article{
    display: flex;
    width: 80%;
}
