section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
}

img {
    margin: auto auto auto 0;
    width: 20%;
}

i.fa-align-justify {
    margin-right: 20px;
    margin-top: 2px;
    color: black;
   
}
i.card-container{
    flex-direction: row;
}

a i.fa-th {
    margin-right: 40px;
    margin-top: 2px;
    color: black;
}

p.ordenar {
    margin-right: 60px;
    margin-top: 2px;
    margin-bottom: 0;
}
.nombreAPP{
    border-style: solid;
}