section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
}

img {
    margin: auto auto auto 0;
    width: 20%;
}
.ordenar{
     font-weight: bold;
     margin-right: auto;
}

.fa-align-justify {
    margin-right: 20px;
    margin-top: 2px;
    color: black;
}

.fa-align-justify:hover {
    cursor:pointer;
    color: white;
}


i.card-container{
    flex-direction: row;
}

.fa-th {
    margin-right: 40px;
    margin-top: 2px;
    color: black;

}

.fa-th:hover {
    cursor:pointer;
    color: white;
}

p.ordenar {
    margin-right: 60px;
    margin-top: 2px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}
.nombreAPP{
    border-style: solid;
}

input {
    border-radius: 9px;
    box-sizing: border-box;
    background-color: white;
    padding-left: 7px;
    opacity: 0.5;
    border: none;
    height: 30px;
    width: 300px;
}

input:hover {
    opacity: 1.0;
  }