body{
    background-image: linear-gradient(white,rgb(150, 169, 230), rgb(83, 116, 224), rgb(53, 92, 219));
    margin: 0 0 0 0;
    display: block;
}

.fasfa-align-justify{
    flex-direction: row;
}